.header {
    background-color: #202225;
    padding: 10px 5px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.footer{
    background-color: #202225;
    display: block;
}

.header a {
    margin: 0 auto;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    vertical-align: middle;
}

.logo {
    width: 155px;
    height: 60px;
    margin: 0 auto;
    text-align:left;
    vertical-align:middle;
    
}

.header-link {
    display: block;
    display: inline-block;
}