body {
  margin: 0;
  background-color: #2f3136;
}


.playerInfo {

  width: 188px;
  height: auto;
  background-color: #202225;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bolder;
}

.nationality-name {
  display: inline-flex;
  align-items: center;


}

.nationality-name img {
  width: 16px;
  height: 12px;
  margin-right: 8px;
}

.playerInfo h3 {
  font-size: smaller;
  color: white;
  line-height: 1.15;
}

.playerInfo h2 {
  font-size: small;
  color: #EF5421;
  vertical-align: middle;
  line-height: 1.17;
}

.playerInfo h1 {
  font-size: large;
  line-height: 1.44;
}

.imgPlayer {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  display: block;
  margin: 0 auto;

}

.img-wraper {
  width: 188px;
  background-image: url(assets/playerbg.png);
  text-align: center;
  display: block;


}

.TeamCard {
  padding: 1vw;
  transition: transform 0.3s;
}

.TeamCard:hover{
  transform: translateY(-30px);
}

.TeamCards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}



.bannerTeam.TeamCards {}

@media (max-width: 768px) {
  .TeamCard {
    width: 100%;
    /* Faça as TeamCards ocuparem a largura total da tela */
    margin: 10px 0;
    /* Adicione margens para separar as TeamCards */
  }

  .img-wraper {
    width: 100%;
    /* Faça a imagem ocupar a largura total da tela */
  }

  .playerInfo {
    width: 100%;
    /* Garanta que as informações do jogador ocupem a largura total da tela */
  }
}