body {
  margin: 0;
  background-color: #2f3136;
}


.playerInfo {

  width: 188px;
  height: auto;
  background-color: #202225;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bolder;
}

.nationality-name {
  display: inline-flex;
  align-items: center;


}

.nationality-name img {
  width: 16px;
  height: 12px;
  margin-right: 8px;
}

.playerInfo h3 {
  font-size: smaller;
  color: white;
  line-height: 1.15;
}

.playerInfo h2 {
  font-size: small;
  color: #EF5421;
  vertical-align: middle;
  line-height: 1.17;
}

.playerInfo h1 {
  font-size: large;
  line-height: 1.44;
}

.imgPlayer {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  display: block;
  margin: 0 auto;

}

.img-wraper {
  width: 188px;
  background-image: url(assets/playerbg.png);
  text-align: center;
  display: block;
}


a{
  text-decoration: none;
}

.TeamCard {
  padding: 1vw;
  transition: transform 0.3s;
  margin-top: 60px;
}

.TeamCard:hover{
  transform: translateY(-15px);
}

.TeamCards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-image: url(assets/banner-bg.jpg);

  position: relative;
  overflow: auto;
  
  max-width: 1100px; 
  margin: 0 auto; 
  padding: 20px; 
  height: 500px;

  background-size: cover; 
  background-position: center center;

  border-radius: 40px;

  margin: 50px auto 0;
  
}



.game-info {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  display: inline;
  z-index: 1;
  margin-left: 20px;
}

.game-name{
  font-size: 60px;
  font-family: Arial;
}

.game-logo {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}


.TeamCards#ow2{
  background-image: url(assets/ow-bg.jpg);
}

.img-wraper#ow2-bg-player{
  background-image: url(assets/ow.avif);
}


#footer{
  bottom: 0;
  position: relative;
  width: 100%;
}



@media (max-width: 768px) {
  .TeamCards{
    width: auto;
  }
  .TeamCard {
    width: calc(50% - 20px); /* Ajuste a largura das TeamCards individuais */
    margin: 10px;
  }

  .TeamCard:hover{
    transform: none;
  }

  .img-wraper {
    width: 100%;
    /* Faça a imagem ocupar a largura total da tela */
  }

  .playerInfo {
    width: 100%;
    /* Garanta que as informações do jogador ocupem a largura total da tela */
  }
}